<section class="hero">

    <div class="hero__overlay"></div>

    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" loading="lazy" class="hero__video">
      <source src="images/landing_page_video.mp4" type="video/mp4">
    </video>

    <div id = "home" class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Welcome to EG Travels</h1>
          <p class="lead mb-4">Dream, Explore, Discover</p>
          <a href="/sign-up" class="mt-2 btn btn-lg btn-outline-light" role="button">Register Now</a>
          <a href="/ajax" class="mt-2 btn btn-lg btn-outline-light">AJAX Fake API</a>
        </div>
      </div>
    </div>

    <a href="/destinations" class="hero__scroll-btn">
      Explore Destinations <i class="bi bi-arrow-down-short"></i>
    </a>

  </section>
