  <section id="contact" class="section-padding bg-#FEF8F9 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
          <div class="section-title">
            <h1 >Contact Us</h1>
            <p>We love to create unforgettable journeys for our customers</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" data-aos="fade-down" data-aos-delay="250">
        <div class="col-lg-8">
          <form id="contactForm" class="row g-3 p-lg-5 p-4 bg-light-grey theme-shadow" style="border-radius: 2%;">
            <div class="form-group col-lg-6">
                <input id="firstname" type="text" class="form-control" name="firstname" placeholder="Enter first name" required>
            </div>
            <div class="form-group col-lg-6">
                <input id="lastname" type="text" class="form-control" name="lastname" placeholder="Enter last name" required>
            </div>
            <div class="form-group col-lg-12">
                <input id="email" type="email" class="form-control" name="email" placeholder="Enter Email address" required>
            </div>
            <div class="form-group col-lg-12">
                <input id="subject" type="text" class="form-control" name="subject" placeholder="Enter subject" required>
            </div>
            <div class="form-group col-lg-12">
                <textarea id="message" name="message" rows="5" class="form-control" placeholder="Enter Message" required></textarea>
            </div>
            <div class="form-group col-lg-6 d-grid">
                <button id="submitButton" class="mt-2 btn btn-lg btn-outline-light">Send Message</button>
            </div>
            <div class="form-group col-lg-6 d-grid">
                <button id="cancelButton" class="mt-2 btn btn-lg btn-outline-light">Return</button>
            </div>
        </form>
        
        <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">Message Sent!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Your message has been sent successfully.
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="/js/contact.js"></script>
        