<section id="featured-destinations" class="featured-destinations container section-padding bg-#FEF8F9 mb-5">
    <h2 class="section-title">Featured Destinations</h2>
    <div class="row section-padding bg-#FEF8F9 mb-5">
      <div class="col-md-4">
        <div class="card">
          <img src="/images/destinations/paris.jpg" class="card-img-top" alt="Destination 1">
          <div class="card-body">
            <h5 class="card-title">Paris, France</h5>
            <p class="card-text">Explore the romantic streets of Paris.</p>
            <a href="#" class="mt-2 btn btn-lg btn-outline-dark">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/images/destinations/tokyo.jpg" class="card-img-top" alt="Destination 2">
          <div class="card-body">
            <h5 class="card-title">Tokyo, Japan</h5>
            <p class="card-text">Discover the vibrant culture of Tokyo.</p>
            <a href="#" class="mt-2 btn btn-lg btn-outline-dark">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/images/destinations/rio.jpg" class="card-img-top" alt="Destination 3">
          <div class="card-body">
            <h5 class="card-title">Rio de Janeiro, Brazil</h5>
            <p class="card-text">Experience the energy of Rio de Janeiro.</p>
            <a href="#" class="mt-2 btn btn-lg btn-outline-dark">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row section-padding bg-#FEF8F9 mb-5">
      <div class="col-md-4">
        <div class="card">
          <img src="/images/destinations/new-york.jpg" class="card-img-top" alt="Destination 4">
          <div class="card-body">
            <h5 class="card-title">New York, USA</h5>
            <p class="card-text">Experience the hustle and bustle of New York City.</p>
            <a href="#" class="mt-2 btn btn-lg btn-outline-dark">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/images/destinations/london.jpg" class="card-img-top" alt="Destination 5">
          <div class="card-body">
            <h5 class="card-title">London, UK</h5>
            <p class="card-text">Explore the historic landmarks of London.</p>
            <a href="#" class="mt-2 btn btn-lg btn-outline-dark">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/images/destinations/rome.jpg" class="card-img-top" alt="Destination 6">
          <div class="card-body">
            <h5 class="card-title">Rome, Italy</h5>
            <p class="card-text">Discover the timeless allure of Rome amid its historic treasures and vibrant streets.</p>
            <a href="#" class="mt-2 btn btn-lg btn-outline-dark">Learn More</a>
          </div>
        </div>
    </div>
    </div>    
      </section>
  </section>

  <section id = "plan" class="call-to-action py-5 section-padding bg-#FEF8F9 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="text-center mb-3">Plan Your Next Adventure</h2>
          <p class="text-center mb-4">Start planning your dream vacation today.</p>
          <div class="text-center">
            <a href="#featured-destinations" class="btn btn-lg btn-outline-dark ms-3" id="explore-button">Explore Packages</a>
            <a href="/contact" class="btn btn-lg btn-outline-dark ms-3">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
