<header  id = "headers" class="header p-3 position-sticky start-0 top-0 end-0">
    <div class="d-flex justify-content-between align-items-center">
      <a href="/" class="text-decoration-none text-white fs-5 fw-bold">EG Travels</a>
      <div  id = "tabs" class="d-flex align-items-center">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link non-active" aria-current="page" href="#featured-destinations">Featured Destinations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link non-active" href="#plan">Plan Your Next Adventure</a>
          </li>
          <li class="nav-item">
            <a class="nav-link non-active" href="#services">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link non-active" href="#reviews">Customer Reviews</a>
          </li>
        </ul>
    
      <div class="d-flex align-items-center">
        <a href="/contact" class="btn btn-lg btn-outline-light me-4 mx-4">Contact Us</a>
        <a href="sign-in.html" class="btn btn-lg btn-outline-light me-4 mx-4">Sign In</a>
        <button id="menu-icon" class="navbar-toggler text-white" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
      </div>
    </div>
    <div id="menu" class="menu">
      <ul class="menu-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Destinations</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </header>
